.map {
  margin: 50px auto 0 auto;
  height: 600px;
  width: 600px;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);

  .box-one,
  .box-two,
  .player,
  .food {
    border: 1px solid black;
  }

  .box-one {
    background-color: $box-one-color;
  }

  .box-two {
    background-color: $box-two-color;
  }

  .player {
    background-color: $player;
  }

  .food {
    background-color: $food;
  }
}
